{% block footer %}
<footer>
    <span>
        <p class="copyright">&copy;Ucom Technical Department</p>
    </span>
    <span>
        <div class="dropdown_mail">
            <span style="height: 135%;" class="dropbtn_mail">Support</span>
            <div class="dropdown_content_mail">
                <span><a class="mail_footer" href="mailto:David.Grigoryev@ucom.am" id="mailDavid">David.Grigoryev@ucom.am</a></span>
            </div>
        </div>
        <a rel="noreferrer" target="_blank" href="#"><span><input type="button" name="helpButton" class="help_button" value="Help"><i class="fa fa-info-circle" aria-hidden="true"></i></span></a>
        <p id="version">Version 1.0</p>
    </span>
</footer>
{% endblock %}
