    {% load static %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Change Request">
        <meta name="theme-color" content="#8dc52e">
        <script type="text/javascript" src="{% static 'cr_page/styles/js_styles/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" defer="defer" src="{% static 'cr_page/styles/js_styles/main_page_js/jsFiles.js' %}"></script>
        <link rel="shortcut icon" type="image/png" href="{% static 'cr_page/images/favIcon.png' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cr_page/styles/css_styles/main_page_styles/index.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cr_page/styles/css_styles/main_page_styles/header.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cr_page/styles/css_styles/main_page_styles/change_requests_table.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cr_page/styles/css_styles/main_page_styles/add_new_request_table.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cr_page/styles/fontAwesome/css/font-awesome.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'cr_page/styles/fontAwesome/css/font-awesome.min.css' %}" />
        <script type="text/javascript" src="{% static 'cr_page/styles/js_styles/jsLib.js' %}"></script>
        <title>FOND Project</title>
    </head>

    <body >
        <header id="main_header">
            <div id="top_header">
                <div class="header_logo_container">
                    <a href="{% url 'user-login' %}">
                        <img alt="ucom_logo" class="header_logo" title="Ucom" src="{% static 'cr_page/images/headerLogo.png' %}" />
                    </a>
                    <p class="header_text">FOND SYSTEM</p>
                </div>
                                <!-- Add Artur -->
                <div class="update">
                		<a href="https://fond.ucom.am/all_ticket/">
                			<i class="fa fa-refresh" style="font-size:200%"></i>
                		</a>
                </div>
                <div id="navigate_home">
                    <a href="{% url 'user-login' %}">
                        <p>Home</p>
                    </a>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="sidebar_nav">
                    <ul class="dropdown">
                        {% if user.is_authenticated %}
                        <li style="height: 165%;" class="drop_btn">
                            <span style="color:#008a04;">User:</span>{{ user.get_username }}
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </li>
                        <ul class="dropdown_content">
                            <li><a class="log_in_out" id="permission" title="Your permission">Permission:{{ user.groups.all.0.name }}</a></li>
                            <li><a class="log_in_out" id="log_out" title="Click to log out" href="{% url 'logout' %}">Log out<i class="fa fa-sign-out user_logos" aria-hidden="true"></i></a></li>
                            <li> Change Password </li>
                            {% else %}
                            <li><a class="log_in_out" id="log_in" href="{% url 'login'%}?next={{request.path}}">Log in<i class="fa fa-sign-in user_logos" aria-hidden="true"></i></a></li>
                        </ul>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div id="mini_header">
            </div>
        </header>

    <div class='form_class' >
            <p class="add_modal_header" style="right: 43vw;">Edit Form</p>
            <a href="{% url 'all_ticket' %}"><span class="close" title="close">&times;</span></a>
               <form method="post">
		       {% csrf_token %}
		        <div id='ErrorMsg' style="color:white">
                                <span style="color:#e33333">{{ form.errors }}</span>
                        </div>
				
                <div class="tic_edite">
                        {% if ticket.quality_status == 'Incomplete'  %}
                            <div class="quality_status">
				<p> {{ form.quality_status.label_tag }} {{ form.quality_status }}  </p>
                                <p> {{ form.quality_comment.label_tag }} {{ form.quality_comment }} </p>
	    		    </div>
                        {% endif %}
		     <p>
                        {{ form.status.label_tag }} {{ form.status }}
                        {{ form.car_number.label_tag }} {{ form.car_number }}
			{{ form.tower.label_tag }} {{ form.tower }}
                        {{ form.tower_working_time.label_tag }} {{ form.tower_working_time }}
                        {{ form.current_or_capital.label_tag }} {{ form.current_or_capital }}
                        {{ form.warehouse.label_tag }} {{ form.warehouse }}
                        {{ form.channel.label_tag }} {{ form.channel }}
                        {{ form.points.label_tag }} {{ form.points }}
                        {{ form.technician1.label_tag }} {{ form.technician1 }}
                        {{ form.technician2.label_tag }} {{ form.technician2 }}
                        {{ form.technician3.label_tag }} {{ form.technician3 }}
                        {{ form.technician4.label_tag }} {{ form.technician4 }}
                        {{ form.technician5.label_tag }} {{ form.technician5 }}
			{{ form.state.label_tag }} {{ form.state }}
                        {{ form.extra_work.label_tag }} {{ form.extra_work }}
                    </p>

                    <p>
		    	{{ form.difficaulty.label_tag }} {{ form.difficaulty }}
                        {{ form.gpon_type.label_tag }} {{ form.gpon_type }}
                        {{ form.gpon_qty.label_tag }} {{ form.gpon_qty }}
                        {{ form.stb_type.label_tag }} {{ form.stb_type }}
                        {{ form.stb_qty.label_tag }} {{ form.stb_qty }}
                        {{ form.stb_2_type.label_tag }} {{ form.stb_2_type }}
                        {{ form.stb_2_qty.label_tag }} {{ form.stb_2_qty }}
                        {{ form.stb_3_type.label_tag }} {{ form.stb_3_type }}
                        {{ form.stb_3_qty.label_tag }} {{ form.stb_3_qty }}
                        {{ form.wifi_router_type.label_tag }} {{ form.wifi_router_type }}
                        {{ form.wifi_router_qty.label_tag }} {{ form.wifi_router_qty }}
                        {{ form.other_device_type.label_tag }} {{ form.other_device_type }}
                        {{ form.other_device_qty.label_tag }} {{ form.other_device_qty }}
			{{ form.worktime.label_tag }} {{ form.worktime }}
                    </p>

                    <p>
		    	{{ form.distance.label_tag }} {{ form.distance }}
                        {{ form.optical_cabel_type.label_tag }} {{ form.optical_cabel_type }}
                        {{ form.optical_cable_code.label_tag }} {{ form.optical_cable_code }}
                        {{ form.optical_cable_length.label_tag }} {{ form.optical_cable_length }}
                        {{ form.optical_cable_begin.label_tag }} {{ form.optical_cable_begin }}
                        {{ form.optical_cable_end.label_tag }} {{ form.optical_cable_end }}
                        {{ form.demontage_optical_cable_type.label_tag }} {{ form.demontage_optical_cable_type }}
                        {{ form.demontage_optical_cable_length.label_tag }} {{ form.demontage_optical_cable_length }}
                        {{ form.defected_optical_cable_type.label_tag }} {{ form.defected_optical_cable_type }}
                        {{ form.defected_optical_cable_length.label_tag }} {{ form.defected_optical_cable_length }}
			{{ form.technician1_failed.label_tag }} {{ form.technician1_failed }}
                        {{ form.technician2_failed.label_tag }} {{ form.technician2_failed }}
                        {{ form.technician3_failed.label_tag }} {{ form.technician3_failed }}
                    </p>

                    <p>
                        {{ form.lan_cable_type.label_tag }} {{ form.lan_cable_type }}
                        {{ form.utp_cable_code.label_tag }} {{ form.utp_cable_code }}
                        {{ form.utp_cable_length.label_tag }} {{ form.utp_cable_length }}
                        {{ form.utp_cable_begin.label_tag }} {{ form.utp_cable_begin }}
                        {{ form.utp_cable_end.label_tag }} {{ form.utp_cable_end }}
                        {{ form.ftp_cable_code.label_tag }} {{ form.ftp_cable_code }}
                        {{ form.ftp_cable_length.label_tag }} {{ form.ftp_cable_length }}
                        {{ form.ftp_cable_begin.label_tag }} {{ form.ftp_cable_begin }}
                        {{ form.ftp_cable_end.label_tag }} {{ form.ftp_cable_end }}
                	{{ form.hdmi_qty.label_tag }} {{ form.hdmi_qty }}
                        {{ form.remote_control_qty.label_tag }} {{ form.remote_control_qty }}
			{{ form.tech_comment.label_tag }} {{ form.tech_comment }}
		    </p>

                    <p>
                        {{ form.muft.label_tag }} {{ form.muft }}
                        {{ form.muft_qty.label_tag }} {{ form.muft_qty }}
                        {{ form.muft_2.label_tag }} {{ form.muft_2 }}
                        {{ form.muft_2_qty.label_tag }} {{ form.muft_2_qty }}
                        {{ form.muft_3.label_tag }} {{ form.muft_3 }}
                        {{ form.muft_3_qty.label_tag }} {{ form.muft_3_qty }}
                        {{ form.spliter.label_tag }} {{ form.spliter }}
                        {{ form.spliter_qty.label_tag }} {{ form.spliter_qty }}
                        {{ form.spliter_2.label_tag }} {{ form.spliter_2 }}
                        {{ form.spliter_2_qty.label_tag }} {{ form.spliter_2_qty }}
                        {{ form.spliter_3.label_tag }} {{ form.spliter_3 }}
                        {{ form.spliter_3_qty.label_tag }} {{ form.spliter_3_qty }}
                    </p>
                </div>
		<div class="edite_btn">
			<input type="submit" value="Edit Ticket" />
		</div>
            </form>
    </div>
</body>
<style>
input,
select,
textarea,
option {
    display: flex;
    justify-content: center;
    font-size: 1.0vw;
    color: #000;
    text-align-last: center;
    text-align: center;
    height: 94%;
    border: 4px ridge;; 
    outline: none;
   /* background-color: rgba(70, 78, 61, .20);*/
   /*width: auto; */
    height: auto;
    border-radius: 8px;
    border: 3px solid #91c942;
}

p {
    display: inline-grid;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.0vw;
    width: 15%;
}

.form_class {
	display: flex;
	justify-content: center;
	font-size: .8vw;
	position : center;
        width: auto;
        height: auto;
	background-color : rgba(70, 78, 61, .00);
/*	border: none; */
}
    #add_row_modal {
        justify-content: center;
        align-items: flex-end;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(70, 78, 61, .00);
        display: flex !important;
        height: 100%;
    }

    #id_initated_by option,
    #id_mail_groups option {
        display: none;
}

.edite_btn > input {
    box-shadow: 0px 0px 7px 3px rgb(141 197 46);
    height: 3vw;
    font-size: 150%;
    background-color: #dfe3e0;
}
</style>

</html>
