* {
    font-family: sans-serif;
}

/*header*/
.main_tab {
	border-radius: 25px;
}

#main_header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 9px 12px 0 rgba(7, 33, 56, 0.25);
    box-shadow: 0 9px 12px 0 rgba(7, 33, 56, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 10%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

#top_header {
    -webkit-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 69%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

#mini_header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2b3740;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

#navigate_home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3vw;
    /*margin: 0 3em;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4b5861;
}

#navigate_home i {
    margin-left: .5vw;
}

#navigate_home a {
    color: #4b5861;
}
#navigate_home a > p {
    display: inline-grid;
    margin-left: 1vw;
    margin-right: 0%;
}

#navigate_home:hover > i {
    color: #8dc52e;
}

.project_item {
	color: white;
    font-size: 1vw;
    background-color: #21b321;
    padding: 0.3vw 3vw;
    color: white;
    font-size: 1vw;
    padding: .3vw 3vw;
}

.project_item:hover,
.project_item:active {
    background-color: #a1c517;
    transition-duration: 0.5s;
}


.sidebar_nav {
   /* background-color: #ffffff45; Comment e arel Arthury */
    color: #555f46;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 0 2vw 0 1vw;
    padding: .2vw 1vw;
    text-align: center;
    text-decoration: none;
    width: 27%;
    z-index: 9999;
}

.header_logo_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-left: 2vw;
}

.header_logo_container > a {
    max-width: 6%;
}

.user_logos {
    margin-right: .2vw;
}

.header_logo {
    max-width: 100%;
}

.log_in_out {
    color: #fff;
    font-size: .9vw;
    text-decoration: none;
}

.header_text {
    color: #555f46;
    font-size: 1.25vw;
    margin-left: 1vw;
    text-transform: uppercase;
}

.dropdown {
    list-style-type: none;
    position: relative;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}
.drop_btn > span {
    margin-right: 5%;
}

.dropdown_content {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.41);
    display: none;
    left: 0vw;
    top: 2.3vw;
    min-width: 15vw;
    position: absolute;
    text-align: left;
    z-index: 1;
}

.dropdown_content a {
    color: #1d290b;
    display: block;
}

.dropdown_content li {
    color: #325525;
    padding: .4vw 1vw;
    list-style-type: none;
}

.dropdown_content li:hover {
    background-color: #e0e4ea;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown i {
    font-size: 1vw;
    margin-left: .4vw;
}

/* Ads style Artur*/

.update {
    width: auto;
    margin-right: 0.5%;
}
.update > i:hover {
	color: #52c9dd;
}

.counter_ticet {
    display: flex;
    justify-content: space-around;
    width: 30%;
    position: fixed;
    left: 1.2%;
}
.counter {
    display: inline-block;
}
#click_log_in_button {
   	text-decoration: none;
    color: #747474;
    font-size: 1.5vw
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.box {
    position: relative;
    right: 0;
    color: #666;
    padding: 2vw;
    background: rgba(255, 255, 255, .79);
    border-top: 3px solid #c0c0c0;
    border-bottom: 5px solid #a9d654;
}

.tables_p {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    margin-top: 0.5%;
}

.tab_p {
    width: 22%;
    padding-bottom: 1%;
    padding-top: 1.5%;
    display: inline-block;
    border: 3px solid green;
    border-radius: 8px;
    padding-left: 0.3%;
    padding-right: 0.3%;
}

.tab_p > h2 {
    text-align:center;
    padding: 0.5%;
    border: 2px solid;
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: inset 0px 0px 7px 3px rgb(141 197 46);
}

.tab_p > .p1 > span {
    font-size: 110%;
}
.t_grp > h2 {
	text-align:center;
    padding: 0.3%;
    border: 2px solid;
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: inset 0px 0px 7px 3px rgb(141 197 46);
}
.tab_p_2 {
    display: flex;
    justify-content: space-around;
}

.tab_p_2 > .p1,.p2 > span {
    font-size: 110%;
}
.t_grp {
    width: 50%;
    padding-bottom: 1%;
    padding-top: 1.5%;
    border: 3px solid green;
    border-radius: 8px;
    padding-left: 0.3%;
    padding-right: 0.3%;
}
.p2 {
    width: 48%;
    display: inline-block;
}

h4.h_4 {
    display: inline-block;
    margin-left: 1.5%;
    /*margin-top: 2%;*/
    font-size: 140%;
}

.tic_create {
    width: 100%;
    margin-top: 1%;
    height: 70%;
    border: 3px solid #91c942;
    border-radius: 10px;
    padding-top: 5%;
}
.new_ticket_header_style {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 43.5%;
    border: 3px solid #91c942;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 170%;
    border-radius: 10px;
    font-family: inherit;
    font-weight: 100;
    box-shadow: inset 0px 0px 20px 1px rgb(141 197 46);
}

/*endof header*/
