* {
    font-family: sans-serif;
}

/*table for adding groups*/
.table_tab a {
    border-top: 5px solid rgb(43, 55, 64);
}

.table_tab #default {
    border-top: 5px solid rgb(141, 197, 46);
}

#site_group_container {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
    border-collapse: collapse;
    width: 97%;
}

#group_send_button {
    color: #292929;
    height: unset;
    margin-top: 2vw;
    float: right;
    font-size: .9vw;
    background-color: #8dc52e;
    border: none;
    display: block;
    padding: .5vw 1.5vw;
    cursor: pointer;
    width: unset;
}

#site_group_section_container {
    background-color: #fffdf7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left_side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 2px solid #2b373f;
}

.site_group_name_container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: block;
    overflow-y: scroll;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: .4vw;
    height: 97%;
    width: 35%;
    border-right: 2px dashed #8dc52e;
}

.site_group_name_container::-webkit-scrollbar {
    width: .4vw;
    height: .3vw;
}

.site_group_name_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px grey;
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
}

.site_group_name_container::-webkit-scrollbar-thumb {
    background: #868c7f;
    border-radius: 5px;
}

.site_group_name_container::-webkit-scrollbar-thumb:hover {
    background: #bbd06a;
}

.site_group_name_button {
    word-break: break-all;
    cursor: pointer;
    background-color: transparent;
    width: 90%;
    color: #2b373f;
    text-align: left;
    margin: .5vw 0;
    font-size: 1vw;
    border-bottom: 2px solid #c8c9ca;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.site_group_header {
    display: block !important;
    margin-right: .8vw;
    color: #2b373f;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.2vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    height: 4%;
    background-color: #ebedf1;
    padding: .5vw 0;
    width: 100%;
}

#site_group_add_header {
    background-color: #fff;
    margin: 0;
    width: 80%;
}

#site_group_info_container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-y: scroll;
    word-break: break-word;
    height: 97%;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#site_group_info_container::-webkit-scrollbar {
    width: .4vw;
    height: .3vw;
}

#site_group_info_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px grey;
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
}

#site_group_info_container::-webkit-scrollbar-thumb {
    background: #868c7f;
    border-radius: 5px;
}

#site_group_info_container::-webkit-scrollbar-thumb:hover {
    background: #8dc52e;
}

.right_side {
    background-color: #ebedf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 2px solid #8dc52e;
}

.fields_container {
    height: 80%;
    width: 60%;
}

.site_group_view {
    height: 83%;
    color: #757575;
    display: none;
    margin: 1vw 0;
    white-space: pre-wrap;
    text-align: center;
}

.fields_container form {
    width: 100%;
    height: 100%
}

.fields_container table {
    height: 85%;
    width: 100%;
}

.fields_container tbody {
    display: grid;
    grid-gap: 2vw;
    margin: 0;
}

.fields_container tr {
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fields_container th {
    border: none;
    text-align: left;
    width: 100%;
}

.fields_container td {
    width: 100%;
}

.fields_container #id_site {
    border-bottom: 2px solid #a5a5a5;
    width: 100%;
    height: 17vw;
}

.fields_container #id_site_name {
    border-bottom: 2px solid #a5a5a5;
    width: 100%;
    height: 3vw;
}

.fields_container label {
    color: #636262;
    font-size: .9vw;
}

#site_group_send_button {
    color: #fff;
    height: unset;
    margin-top: 2vw;
    float: right;
    font-size: .9vw;
    background-color: #8dc52e;
    border: none;
    display: block;
    padding: .5vw 1.5vw;
    cursor: pointer;
    width: unset;
}

#site_group_send_button:hover {
    background-color: #2b373f;
}

/*search of groups*/
.hidden {
    display: none;
}

.search {
    margin-right: .8vw;
    display: block !important;
    color: #2a4e6b;
    font-size: 1.2vw;
    text-align: center;
    height: 6%;
    background-color: #dbdfe6;
    padding: 0;
    width: 100%;
}

/*end of search of groups*/
/*endof groups table*/
